@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  outline: none; 
  border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

$blue:#29d9d5;
$black:#111;
$white:#fff;
$light-color:#aaa;
$bg-color:#222;
$black-bg:rgba(17, 17, 17, 0.7);
$border: 0.2rem solid $blue;

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;

  &::-webkit-scrollbar{
    width:1rem;
  }

  &::-webkit-scrollbar-track{
    background: $black;
  }

  &::-webkit-scrollbar-thumb{
    background: $blue;
    border-radius: 5rem;
  }
}

body {
  background: $black;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.heading {
  margin-bottom: 2rem;
  text-align: center;
  
  span {
    font-size: 2rem;
    color: $blue;
  }

  h1 {
    color: $white;
    font-size: 4rem;
  }
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: $blue;
  background: none;
  border: $border;
  border-radius: 5rem;
  cursor: pointer;

  &:hover {
    color: $black-bg;
    background: $blue;
  }
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 1.5rem 9%;
  background: $bg-color;
  align-items: center;
  justify-content: space-between;
 
  .navbar a {
    display: inline-block;
    margin: 0 1rem;
    font-size: 1.7rem;
    color:$light-color;
   
    &:hover {
      color:$blue;
    }
  }

  .btn {
    margin-top: 0;
  }
}

.logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: $white;
  
  i {
    padding-right: .5rem;
    color:$blue;
  }
}

#menu-btn {
  font-size: 2.5rem;
  color: $white;
  cursor: pointer;
  display: none;
}

.home {
  display: flex;
  width: 90%;
  min-height: 80vh;
  margin: 0 auto;
  margin-top: 9rem;
  padding-bottom: 5rem;
  background: linear-gradient($black-bg, $black-bg), url(../images/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;

  .content {
    text-align: center;

    span {
      display: block;
      font-size: 4vw;
      font-weight: bolder;
      color: transparent;
      -webkit-text-stroke: .1rem $white;
    }

    h3 {
      font-size: 6vw;
      color: $white;
    }

    p {
      max-width: 60rem;
      margin: 1rem auto;
      font-size: 1.4rem;
      line-height: 2;
      color: $light-color;
    }
  }
}

.book-form {
  width: 80%;
  margin: 1rem auto;
  margin-top: -5rem;
  padding: 3rem 2rem;
  background: $bg-color;
  border-radius: 1rem;
  box-shadow: 0 .5rem 1rem rgba(17, 17, 17, 0.3);

  form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1.5rem;

    .inputbox {
      flex: 1 1 25rem;

      span {
        font-size: 1.4rem;
        color: $light-color;
      }

      input {
        width: 100%;
        margin-top: 1rem;
        padding: 1.2rem 1.4rem;
        font-size: 1.6rem;
        text-transform: none;
        color: $light-color;
        background: none;
        border: $border;
        border-radius: 5rem;
      }
    }

    .btn {
      flex: 1 1 15rem;
    }
  }
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;

  .video-container {
    flex: 1 1 42rem;

    video {
      width: 100%;
      border-radius: 1rem;
    }

    .controls {
      padding: 2rem 0;
      text-align: center;

      span {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin: .7rem;
        background: $white;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          background: $blue;
        }
      }
    }
  }

  .content {
    flex: 1 1 42rem;
    margin-bottom: 5rem;

    span {
      font-size: 2rem;
      color: $blue;
    }

    h3 {
      margin-top: .5rem;
      font-size: 4rem;
      color: $white;
    }

    p {
      padding: 1rem 0;
      font-size: 1.4rem;
      line-height: 2;
      color: $light-color;
    }
  }
}

.destination .box-container{
  @include grid(27rem);

  .box {
    overflow: hidden;
    background: $bg-color;
    border-radius: 1rem;

    &:hover img{
      transform: scale(1.1);
    }

    .image {
      width: 100%;
      height: 20rem;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .content {
      padding: 2rem;
      text-align: center;

      h3 {
        font-size: 2rem;
        color: $white;
      }

      p {
        padding: 1rem 0;
        font-size: 1.4rem;
        line-height: 2;
        color: $light-color;
      }

      a {
        font-size: 1.7rem;
        color: $blue;

        &:hover i {
          padding-left: 1rem;
        }

        i {
          padding-right: .5rem;
        }
      }
    }
  }
}

.services .box-container {
  @include grid(32rem);

  .box {
    background: $bg-color;
    border-radius: 1rem;
    padding: 3rem;
    text-align: center;
    border: .2rem solid $black;

    &:hover {
      border: $border;
    }

    i {
      margin-bottom: 2rem;
      font-size: 4rem;
      color: $blue;
    }

    h3 {
      font-size: 2rem;
      color: $white;
    }

    p {
      padding: 1rem 0;
      font-size: 1.4rem;
      line-height: 2;
      color: $light-color;
    }
  }
}

.gallery .box-container {
  columns: 3 25rem;
  column-gap: 1.5rem;

  .box {
    margin-bottom: 1rem;
    break-inside: avoid;

    img {
      width: 100%;
      margin-bottom: 1rem;
      border-radius: 1rem;
    }

    span {
      font-size: 1.4rem;
      color: $light-color;
    }

    h3 {
      margin-top: .5rem;
      font-size: 2rem;
      color: $white;
    }
  }
}

.review {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

  .content {
    flex: 1 1 42rem;

    span {
      font-size: 2rem;
      color: $blue;
    }

    h3 {
      font-size: 3rem;
      color: $white;
    }

    p {
      padding: 1rem 0;
      font-size: 1.4rem;
      line-height: 2;
      color: $light-color;
    }
  }

  .box-container {
    display: flex;
    flex: 1 1 42rem;
    flex-wrap: wrap;
    gap: 1.5rem;

    .box {
      flex: 1 1 20rem;
      padding: 2rem;
      background: $bg-color;
      border: .2rem solid $black;
      border-radius: 1rem;

      &:hover {
        border: $border;
      }

      p {
        padding-bottom: 1rem;
        font-size: 1.4rem;
        line-height: 2; 
        color: $light-color;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
        }

        h3 {
          font-size: 1.7rem;
          color: $white;
        }

        span {
          font-size: 1.5rem;
          color: $light-color;
        }
      }
    }
  }
}

.blogs .box-container {
  @include grid(32rem);

  .box {
    overflow: hidden;
    background: $bg-color;
    border-radius: 1rem;

    &:hover {
      .image img {
        transform: scale(1.1);
      }
    }

    .image {
      width: 100%;
      height: 25rem;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .content {
      padding: 2rem;

      .link {
        font-size: 2rem;
        color: $white;

        &:hover {
          color: $blue;
        }
      }

      p {
        padding: 1rem 0;
        font-size: 1.4rem;
        line-height: 2;
        color: $light-color;
      }

      .icon {
        display: flex;
        padding-top: 1rem;
        align-items: center;
        justify-content: space-between;

        a {
          font-size: 1.4rem;
          color: $light-color;

          &:hover {
            color: $blue;
          }

          i {
            padding-right: .5rem;
            color: $blue;
          }
        }
      }
    }
  }
}

.banner {
  padding: 3rem 2rem;
  text-align: center;
  background: linear-gradient($black-bg, $black-bg), url(../images/banner-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .content {
    span {
      font-size: 2rem;
      color: $blue;
    }

    h3 {
      margin-top: 1rem;
      font-size: 4rem;
      color: $white;
    }

    p {
      max-width: 60rem;
      margin: 1rem auto;
      font-size: 1.4rem;
      line-height: 2;
      color: $light-color;
    }
  }
}

.footer {
  .box-container {
    @include grid(25rem);

    .box {
      padding: 1rem 0;

      .logo {
        padding-bottom: 1rem;
      }
  
      h3 {
        padding: 1rem 0;
        font-size: 2.2rem;
        color: $white;
      }

      p {
        padding: 1rem 0;
        font-size: 1.4rem;
        line-height: 2;
        color: $light-color;

        i {
          padding-right: .5rem;
          color: $blue;
        }
      }

      .share {
        padding-top: 1rem;

        a {
          width: 4.5rem;
          height: 4.5rem;
          margin-right: .5rem;
          font-size: 1.7rem;
          line-height: 4rem;
          text-align: center;
          color: $blue;
          border: $border;
          border-radius: 50%;

          &:hover {
            color: $black;
            background: $blue;
          }
        }
      }

      .links {
        display: block;
        padding: 1rem 0;
        font-size: 1.4rem;
        color: $light-color;

        &:hover {
          color: $blue;

          i {
            padding-right: 2rem;
          }
        }

        i {
          padding-right: .5rem;
          color: $blue;
        }
      }

      form .email {
        width: 100%;
        margin-bottom: 1rem;
        padding: 1.2rem 1.4rem;
        font-size: 1.5rem;
        text-transform: none;
        color: $light-color;
        background: none;
        border: $border;
        border-radius: 5rem;
      }
    }
  }
}

.credit {
  padding: 2rem 1rem;
  font-size: 2rem;
  text-align: center;
  color: $light-color;
  background: $bg-color;

  span {
    color: $blue;
  }
}


//media queries
@media (max-width:991px) {

  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width:768px) {

  #menu-btn {
    display: inline-block;
  }

  .header {

    .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: $bg-color;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

      &.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
      
      a {
        display: block;
        margin: 2rem;
        font-size: 2rem;
      }
    }

  }

  .home {
    margin-top: 10rem;

    .content {

      span {
        font-size: 8vw;
      }

      h3 {
        font-size: 9vw;
      }
    }
  }
}

@media (max-width:450px) {

  html {
    font-size: 50%;
  }

  .about .content h3 {
    font-size: 3.5rem;
  }

  .banner .content h3 {
    font-size: 2.7rem;
  }
}